body {
  /*position: relative;*/
  overflow: hidden;
  left: 0;
  top: 0;

}
.background-image {
  background-image: url("../images/wave_bg_test.jpg");
  position: absolute;
  background-position: 0;
  height: 100%;
  width: 100%;
  animation-name: marquee;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  background-repeat: repeat-x;
}

@keyframes marquee {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12500px ;
  }
}

.surfer {
  height: 200px;
  width: 100px;
  background-color: orange;
  position: absolute;
  margin-left: 20%;
  margin-top: 20%;
}

.turtle {
  height: 50px;
  width: 50px;
  background-color: green;
  position: absolute;
  margin-top: 10%;  /*limits how high my turtle can start*/
  display: none;
  animation-duration: 9s;
  animation-timing-function: easeOutQuad;
  animation-fill-mode: forwards;  /*keeps div off the screen/doesn't reset)*/
}

@keyframes turtlemove {
  0% {right: 0;}
  100% {right: 2000px;}
}

.surfer-image {
  position: relative;
  top: -100%;
  left: -150%;
  height: 300%;
}
.timer-div {
  background-color: white;
  width: 10%;
  height: 10%;
  border: 4px solid black;
  position: relative;
  text-align: center;

}
.timer {
  width: auto;
  height: auto;
  font-size: 28px;
}

.red-turtle {
  background-color: red;
}


