.landing-body {
  margin: 180px;
  background-image: url("../images/beach_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;

}
.heading {
  width: 300px;
  text-align: center;
  color: #f5a002;
  background-color: white;
  border-radius: 16px;
  font-size: 56px;
  margin:10px auto;

}
.form {
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 16px;
}
.name-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-size: 20px
}
div.names {
  box-sizing: border-box;  /*includes padding & border in width*/
  width: 50%;              /*which is much easier to make true 50%*/
  float: left;
}
#first-name {
  width: 97%;
  margin: 10px 0;
  font-size: 20px
}
#last-name {
  width: 90%;
  margin: 10px 0;
  font-size: 20px
}
.label-mail {
  display: inline-block;
  width: 380px;
  text-align: left;
  position: relative;
  margin: 0 0 10px 0;
  font-size: 20px
}
.lets-go-button {
  display: block;
  margin-left: 40px;
  font-size: 20px;
}
.submit-button {
  display: block;
  margin-left: 40px;
  font-size: 20px;
}
.button-container {
  display: flex;
  margin: 0 auto;
}
.index-body {
  overflow: hidden;
  left: 0;
  top: 0;
  font-family: arial, sans-serif;
}

.background-image {
  background-image: url("../images/wave_bg.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  animation-name: marquee;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  background-repeat: repeat-x;
}
@keyframes marquee {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12500px ;
  }
}
.surfer {
  height: 300px;
  width: 100px;
  /*background-color: orange;*/
  position: absolute;
  top: 35%;
  left: 20%;
}

.turtle {
  background-image: url("../images/turtle.png");
  background-size: contain;
  height: 70px;
  width: 138px;
  /*background-color: green;*/
  position: absolute;
/*  margin-top: 10%;  limits how high my turtle can start
  margin-bottom: 25%;*/
  padding: 0;
  display: none;
  animation-duration: 9s;
  animation-timing-function: easeOutQuad;
  animation-fill-mode: forwards;  /*keeps div off the screen/doesn't reset)*/
}

@keyframes turtlemove {
  0% {right: 0;}
  100% {right: 2000px;}
}
.surfer-image {
  position: relative;
  top: -100%;
  left: -300%;
  height: 280%;
}
.timer-div {
  background-color: white;
  width: 10%;
  height: 10%;
  border: 4px solid black;
  position: relative;
  float: left;
  text-align: center;
}
.timer {
  width: auto;
  height: auto;
  font-size: 28px;
  margin: 16px;
}
.reset-button-div {
  text-align: center;
  position: relative;
  float: right;
  display: block;
  top: -100%;
}
.reset-button {
  font-size: 30px;
  background-color: white;
  border: 4px solid black;
  padding: 15px;
}


